* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.photo {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

h1 {
    color: #ff4d6d;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

button {
    width: 45%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

#yesBtn {
    background-color: #ff4d6d;
    color: white;
}

#noBtn {
    background-color: #ddd;
}

.signature {
    margin-top: 20px;
    font-style: italic;
    color: #ff4d6d;
}
.music-btn {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #ff4d6d;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
